<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>vue-slider</title>
     <link rel="stylesheet" href="./asset/css/style.css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</head>
<body>
     
     <div id="root">
          <div class="container">

               <div id="container_immagine_grande">
                    <div class="immagine_principale" v-if="counter == index" v-for="(item, index) in items" :key="item.image" :style="{'background-image':'url(../asset/img/'+ item.image +')'}"> 
                         <div class="descrizione_immagine" v-if="counter == index" v-for="(item, index) in items" :key="item.text"><h1>{{item.title}}</h1><span>{{item.text}}</span></div>
                    </div>
               </div>

               <div class="container_immagini_piccole">
                    
                    <img  class="immagini_carosello" v-bind:class="(contatore == index) ? 'illuminata' : 'myFalseClass'" v-for="(item, index) in items" :key="item.image" :src="'../asset/img/'+ item.image" v-bind:style="{height: 'calc(100% / ' + items.length + ')'}"/>
                    

                    <div v-on:click="counter -= 1" class="arrows" id="su">
                         <i class="fas fa-chevron-circle-up"></i>
                    </div>

                    <div v-if="counter == 0" v-on:click="counter = items.length-1" class="arrows" id="su">
                         <i class="fas fa-chevron-circle-up"></i>
                    </div>
     
                    <div v-on:click="counter += 1" class="arrows" id="giù">
                         <i class="fas fa-chevron-circle-down"></i>
                    </div>

                    <div v-if="counter == items.length-1" v-on:click="counter = 0" class="arrows" id="giù">
                         <i class="fas fa-chevron-circle-down"></i>
                    </div>

               </div>
          </div>
     </div>


     <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
     <script src="./asset/javascript/app.js"></script>
</body>
</html>