<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>vue-slider</title>
     <link rel="stylesheet" href="./asset/css/style.css">
</head>
<body>
     
     <div id="root">
          <div class="container">

               <div id="container_immagine_grande">
                    <div class="immagine_principale" v-for="item in items" :key="item.image" :style="{backgroundImage:`url(./asset/img/ + ${items.image})`}"> </div>


               </div>

               <div class="container_immagini_piccole">
                    <img  class="immagini_carosello" v-for="item in items" :key="item.image" :src="'../asset/img/'+ item.image" v-bind:style="{ height: ['calc(100% / 5)']}"/>
               </div>
          </div>
     </div>


     <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
     <script src="./asset/javascript/app.js"></script>
</body>
</html>